<!DOCTYPE html>
<html lang="en">
<head>
	<title>Tabel Nod 1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="assets/tables/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="assets/tables/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="assets/tables/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="assets/tables/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="assets/tables/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="assets/tables/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="assets/tables/css/util.css">
	<link rel="stylesheet" type="text/css" href="assets/tables/css/main.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">
<!--===============================================================================================-->
</head>
<body>
<header>
        <div class="logo-container">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/dcfe7691-0ada-4a1e-9e7d-5932ea18fe6a/dalgn2y-d128adda-4820-46f3-8adf-e7e419ab17ed.png" alt="log" style="width:60px;height:40px;">
            <h4 class="logo"> Baza de date Nod 1</h4> 
        </div>

        <nav>
		  </a>
            <ul class="nav-links">
                <li ><a class="nav-link" href="<%= tables_2 %>">Istoric nod 2</a></li>
                <li ><a class="nav-link" href="<%= graphs %>">Grafice</a></li>
                <li ><a class="nav-link" href="<%= main %>">Pagina principala</a></li>
            </ul>
        </nav>
    </header>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
				<table>

      <thead>
							<tr class="table100-head">
								<th class="column1">Tabel Valori Medii</th>
								<th class="column2">Temperatura</th>
								<th class="column3">Umiditate</th>
								<th class="column4">Distanta</th>
							</tr>
						</thead>

		<td class="column1"><%= state%></td>
		<td class="column2"><%= tempMean%></td>
		<td class="column3"><%= humMean%></td>
      <td class="column4"><%= distMean%></td>
	</tr>  
</table>
<br>
					
                    <table>
      <thead>
							<tr class="table100-head">
								<th class="column1">Data</th>
								<th class="column2">Packet Counter</th>
								<th class="column3">Temperatura</th>
								<th class="column4">Umiditate</th>
								<th class="column5">Distanta</th>
								<th class="column6">Alerta nivel</th>
							</tr>
						</thead>
   <% for (var i = loramodels.length - 1; i >= 0; i--) { %>
   <% if (loramodels[i].dev_id === "lora_1") {%>
	<tr>
		<td class="column1"><%= loramodels[i].metadata && loramodels[i].metadata.time%></td>
		<td class="column2"><%= loramodels[i].counter%></td>
		<td class="column3"><%= loramodels[i].payload_fields && loramodels[i].payload_fields.temperature%></td>
      <td class="column4"><%= loramodels[i].payload_fields && loramodels[i].payload_fields.humidity%></td>
      <td class="column5"><%= loramodels[i].payload_fields && loramodels[i].payload_fields.distance%></td>
      <td class="column6"><%= loramodels[i].payload_fields && loramodels[i].payload_fields.water_alert %></td>
	</tr>  
	<% } %>  
   <% } %>
</table>
				</div>
			</div>
		</div>
	</div>


	

<!--===============================================================================================-->	
	<script src="assets/tables/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="assets/tables/vendor/bootstrap/js/popper.js"></script>
	<script src="assets/tables/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="assets/tables/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="assets/tables/js/main.js"></script>

</body>
</html>